


      
				 
    <input placeholder="name*" type="text" id="name" name="name"  ng-model="command.data.attributes.name"  required>             
                     
       

    <div class="form-button" > 
            <button  ng-disabled="loading" class="button-primary" type="submit" >                                        
                              
                              <span ng-hide="loading">Save</span>
                              <span ng-show="loading">Loading....</span></button> 
              
       </div> 
              

         
              
              
              

  

				
